/* Chat dialog */
.vfrc-chat--dialog {
    background-color: #120547; 
    color: #FFFFFF;
}

/* System response messages */
.vfrc-system-response {
    background-color: #E8751A; 
    color: #FFFFFF; 
}


